<div class="page-header">
  <%= link_to ocorrencias_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h3>Nova Ocorrência</h3>
</div>

<%= render 'form' %>
